<div class="row border-bottom" style="margin-bottom: 10px;">
  <div class="col-8">
    <h4 style="color: rgb(120,120,120); margin-bottom: 5px;">
      {{vaga.titulo}}
    </h4>
    <div style="margin-bottom: 5px;">
      <strong>Localidade:</strong> {{vaga.localidade}}
    </div>
    <div style="margin-bottom: 10px;">
      <strong>Salário:</strong> {{vaga.salario}}
    </div>
  </div>
  <div class="col-4 d-flex align-items-center justify-content-end">
    <a href="mailto:contato@empresa.com?subject=Aplicação%20para%20{{vaga.titulo}}" class="btn btn- outline-primary btn-lg">Aplicar</a>
  </div>
</div>
